
* {
  box-sizing: border-box;
  border: 0;

}

body {

  background-image: url("/Users/malikfields/Desktop/project_malik_fields/images/star.png");
  

}

.media{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.damm-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.faces{
width: 1000px;
display: flex;
flex-direction: row;
margin: 0 auto;


}

.flat-earth {
  width: 1000px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;

}



.logo {
  width: 300px;
  margin: 0 auto;
}
